* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
  font-family: "Bungee", cursive;
  font-weight: normal;
}

body,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px 0;
  background-color: #d20000;
  color: #ffffff;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 16px;
}

header li a {
  color: #ecf0f1;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pedido-list img {
  height: 80px;
  margin-top: 12px;
}

.pedido-list li {
  display: inline;
  margin-left: 100px;
}

.cardapio img {
  height: 370px;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 10px;
}

section {
  color: #d20000;
}

section p {
  margin-bottom: 8px;
}

.store-front {
  margin-right: 32=px;
}

.social-links img {
  height: 100px;
}

.social-links li {
  display: inline-block;
  margin-right: 100px;
}

.social-links li a {
  text-decoration: none;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
}

.rua p {
  margin-left: 200px;
}

form input,
form textarea,
form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
  margin-right: 100px;
}

form textarea {
  resize: none;
  height: 80px;
}

section h3 {
  margin-bottom: 16px;
}

form button {
  background-color: #d20000;
  color: #ecf0f1;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #d20000a2;
}

input:focus,
textarea:focus {
  outline-color: #d20000;
}

footer {
  background-color: #d20000;
  color: #ecf0f1;
  padding: 16px 0;
}
